In [1]:
import os
import sys
import getpass
from binance.spot import Spot

__file__ = %pwd
sys.path.append(os.path.join(os.sep, *os.path.abspath(__file__).split(os.sep)[:-2]))
from CODE.Utils.encrypt import *
from CODE.Utils.encrypt import Encrypted_API_key
from CODE.Utils.encrypt import Encrypted_API_secret
from CODE.Utils.utils import *
from CODE.Utils.indicators import *

In [2]:
df = pd.read_csv(
    "/Project/David_Li/Works/Courses/4339_COMP_SCI_7318_Deep_Learning_Fundamentals/Assignment3/DATA/RAW/1d/1514758223872.csv"
)

In [3]:
# Calculate 10-period SMA and EMA for the 'Close' price
period = 10
df["SMA_10"] = calculate_sma(df["Close"], period)
df["EMA_10"] = calculate_ema(df["Close"], period)

In [4]:
df["RSI_14"] = calculate_rsi(df, 14)
df["RSI_14"]

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13    66.675891
14    66.712736
15    60.946698
16    68.223388
17    71.180806
18    73.272569
19    73.712244
20    74.943770
21    76.385440
22    92.859236
23    88.843398
24    91.118764
25    91.197766
26    86.906377
27    70.815866
28    71.545994
29    75.009903
30    73.396584
31    72.844661
32    72.013485
33    69.216338
34    55.900645
35    50.279894
36    43.699361
37    49.586514
38    42.950220
39    55.622856
40    67.939359
41    79.255806
42    78.239363
43    75.793594
44    76.230081
45    77.396987
46    80.431155
47    83.181696
48    88.890712
49    88.325452
50    66.094699
51    65.340774
52    70.133906
53    68.805048
54    63.767103
55    56.682446
56    53.153375
57    56.316871
58    49.829232
59    52.436723
Name: RSI_14, dtype: float64

In [7]:
bollinger_bands = calculate_bollinger_bands(df)
bollinger_bands

    Upper_Band  Lower_Band       SMA
0          NaN         NaN       NaN
1          NaN         NaN       NaN
2          NaN         NaN       NaN
3          NaN         NaN       NaN
4          NaN         NaN       NaN
5          NaN         NaN       NaN
6          NaN         NaN       NaN
7          NaN         NaN       NaN
8          NaN         NaN       NaN
9          NaN         NaN       NaN
10         NaN         NaN       NaN
11         NaN         NaN       NaN
12         NaN         NaN       NaN
13         NaN         NaN       NaN
14         NaN         NaN       NaN
15         NaN         NaN       NaN
16         NaN         NaN       NaN
17         NaN         NaN       NaN
18         NaN         NaN       NaN
19  368.567699  268.749301  318.6585
20  377.700953  269.369047  323.5350
21  392.956660  264.205340  328.5810
22  425.397070  248.860930  337.1290
23  447.468470  243.418530  345.4435
24  465.713593  241.660407  353.6870
25  482.556980  242.870020  362.7135
26  495.712559  246.029441  370.8710
27  500.257735  251.867265  376.0625
28  502.575842  262.942158  382.7590
29  509.253470  271.013530  390.1335
30  513.455140  282.050860  397.7530
31  516.785797  293.451203  405.1185
32  521.531553  301.811447  411.6715
33  522.136505  313.299495  417.7180
34  518.030989  325.357011  421.6940
35  512.329668  338.568332  425.4490
36  509.023411  351.464589  430.2440
37  506.639599  364.433401  435.5365
38  502.212992  374.853008  438.5330
39  506.163171  385.560829  445.8620
40  550.143740  365.515260  457.8295
41  605.506893  338.051107  471.7790
42  645.168139  319.465861  482.3170
43  676.728755  309.218245  492.9735
44  705.596455  302.347545  503.9720
45  736.172598  295.304402  515.7385
46  780.950999  282.309001  531.6300
47  820.748085  280.141915  550.4450
48  852.476844  284.691156  568.5840
49  878.958607  290.699393  584.8290
50  882.401187  305.090813  593.7460
51  885.039777  320.456223  602.7480
52  888.081862  336.547138  612.3145
53  894.048714  356.849286  625.4490
54  896.408751  388.388249  642.3985
55  890.633645  427.519355  659.0765
56  880.933377  463.752623  672.3430
57  870.507312  501.577688  686.0425
58  837.530469  559.925531  698.7280
59  816.721963  603.262037  709.9920